{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block page_title %}Admin home page{% endblock %}
{% block page_content %}
{#    <div class="content-panel">#}
{#        <div class="embed-responsive">#}
            <div style="text-align: center;"><H2>HARIBOL!</H2></div>
            New Cities - have {{ newCityCount }} unprocessed.
{#        </div>#}
{#    </div>#}
{% endblock %}
